.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  font: inherit;
}

textarea {
  resize: none;
}

input:hover,
input:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(0, 0, 0, 0.349);
}

textarea:hover,
button:hover,
textarea:focus,
button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
